.App {
  text-align: center;
}
.Header {
  color: #443e3e;
  text-shadow: 1px 1px 5px #fff;
  font-size: 3em;
}
/* write your parent styles in here for your App.js */


body {
  display: flex;
  justify-content: center;
  line-height: 28px;
  font-family: Helvetica, Arial, Sans-Serif;
  text-align: center;
  text-transform: capitalize;
}

.starwars-list {
  width: 1000px;
  border-left: 5px solid rgb(156, 156, 156);
  background: rgba(255, 255, 255, 0.623);
  border-radius: 25px;
  color: rgb(29, 149, 204);
  font-size: 1.6em;
  font-family:  'Segoe UI', sans-serif
}

.star-wars {
  border-bottom: 5px inset rgb(156, 156, 156);
}

.name {
  color: rgb(83, 83, 83);
  font-style: oblique;
  font-weight: bold; 
  font-size: 1em;
 }
 


