.starwars-list {
    width: 1000px;
    border-left: 5px solid rgb(156, 156, 156);
    background: rgba(255, 255, 255, 0.719);
    border-radius: 25px;
    color: rgb(29, 149, 204);
    font-size: 1.6em;
    font-family:  'Segoe UI', sans-serif
  }